.blur-bkg {
    &:before {
        opacity: .5;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: var(--background-image);
        background-size: 75% cover;
        background-position: center;
        background-repeat: repeat;
        filter: blur(5px);
        z-index: 0;
        pointer-events: none;
    }
}